*{
	padding: 0;
	margin: 0;
	border: 0;
}
html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14;
	text-decoration: none;
}
ul.li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-size: inherit; 
	font-weight: 400;
}
span{
	font-size: 20px;
	color: red;
}
span.bigred{
	font-style: italic;
	color: green;
}
.bigred{
	text-shadow: 1px 1px 1px;
}
.blok>p{
	color: blue;
}

